/* line 2, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_lists.scss */
.lp_debugger .lp_debugger-content-list, .lp_debugger .lp_debugger-content-list__item {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 2, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border--0 {
  border: 0 none; }

/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border {
  border: 1px solid #dbdbdb; }

/* line 10, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border-radius {
  border-radius: 3px; }

/* line 14, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_rounded--right {
  border-radius: 0 3px 3px 0; }

/* line 18, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_rounded--topright {
  border-radius: 0 3px 0 0; }

/* line 22, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_embossed {
  box-shadow: 1px 1px 0 #f7f7f7; }

/* line 28, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_block {
  display: block; }

/* line 32, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_inline {
  display: inline; }

/* line 36, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_inline-block {
  display: inline-block; }

/* line 40, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_hidden {
  display: none !important; }

/* line 46, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_fs {
  font-size: 14px; }

/* line 50, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_bold {
  font-weight: bold; }

/* line 56, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_left {
  float: left; }

/* line 60, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_right {
  float: right; }

/*
 * Clearfix for modern browsers
 * 1. The space content is one way to avoid an Opera bug when the 'contenteditable' attribute is included
 *    anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements that receive the 'clearfix' class.
 * 2. The use of 'table' rather than 'block' is only necessary if using ':before' to contain the top-margins
 *    of child elements.
 */
/* line 73, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_clearfix:before, .lp_clearfix:after {
  content: ' ' !important;
  /* 1 */
  display: table !important;
  /* 2 */ }

/* line 77, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_clearfix:after {
  clear: both !important; }

/* line 93, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m0 {
  margin: 0; }

/* line 97, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m {
  margin: 14px; }

/* line 103, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-0 {
  margin: 14px 0; }

/* line 107, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-0-0 {
  margin: 14px 0 0; }

/* line 111, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m--0-center {
  margin: 0 auto; }

/* line 115, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-center {
  margin: 14px auto; }

/* line 121, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt0 {
  margin-top: 0; }

/* line 125, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt-- {
  margin-top: 4px; }

/* line 129, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt- {
  margin-top: 7px; }

/* line 133, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt {
  margin-top: 14px; }

/* line 137, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt\+ {
  margin-top: 28px; }

/* line 141, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt\+\+ {
  margin-top: 42px; }

/* line 147, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr-- {
  margin-right: 4px; }

/* line 151, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr- {
  margin-right: 7px; }

/* line 155, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr {
  margin-right: 14px; }

/* line 159, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr\+ {
  margin-right: 28px; }

/* line 165, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb0 {
  margin-bottom: 0; }

/* line 169, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb-- {
  margin-bottom: 4px; }

/* line 173, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb- {
  margin-bottom: 7px; }

/* line 177, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb {
  margin-bottom: 14px; }

/* line 181, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb\+ {
  margin-bottom: 28px; }

/* line 185, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb\+\+ {
  margin-bottom: 42px; }

/* line 191, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml- {
  margin-left: 7px; }

/* line 195, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml {
  margin-left: 14px; }

/* line 199, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml\+ {
  margin-left: 28px; }

/* line 205, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd {
  padding: 14px; }

/* line 209, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd- {
  padding: 7px; }

/* line 215, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd--0-05 {
  padding: 0 7px; }

/* line 219, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd--05-1 {
  padding: 7px 14px; }

/* line 225, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdt0 {
  padding-top: 0; }

/* line 229, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdt- {
  padding-top: 7px; }

/* line 235, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdr {
  padding-right: 14px; }

/* line 241, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdl0 {
  padding-left: 0; }

/* line 247, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_absolute {
  position: absolute; }

/* line 251, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_relative {
  position: relative; }

/* line 255, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_top--0 {
  top: 0; }

/* line 259, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_right--0 {
  right: 0; }

/* line 263, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_bottom--0 {
  bottom: 0; }

/* line 267, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_left--0 {
  left: 0; }

/* line 273, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_text-align--center {
  text-align: center; }

/* line 279, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1 {
  width: 100%; }

/* line 283, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_4\/5 {
  width: 80%; }

/* line 287, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_3\/4 {
  width: 75%; }

/* line 291, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_2\/3 {
  width: 66.6666%; }

/* line 295, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/2 {
  width: 50%; }

/* line 299, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_2\/5 {
  width: 40%; }

/* line 303, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_3\/8 {
  width: 37.5%; }

/* line 307, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/3 {
  width: 33.3333%; }

/* line 311, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/4 {
  width: 25%; }

/* line 315, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/5 {
  width: 20%; }

/* line 319, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/6 {
  width: 16.6666%; }

@font-face {
  font-family: laterpay-wordpress-icons;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/laterpay-wordpress-icons_v099.eot');
  src: url('../fonts/laterpay-wordpress-icons_v099.eot?#iefix') format('embedded-opentype'), url('../fonts/laterpay-wordpress-icons_v099.woff') format('woff'), url('../fonts/laterpay-wordpress-icons_v099.ttf') format('truetype'), url('../fonts/laterpay-wordpress-icons_v099.svg#laterpay-wordpress-icons') format('svg'); }

/* line 17, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_vector_icons.scss */
[data-icon]:before, .lp_vectorIcon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: laterpay-wordpress-icons !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  padding-right: 0.25em;
  position: relative;
  speak: none;
  text-transform: none !important;
  top: 0.1em; }

/**
 * Box off e.g. a label to make it stand out, but be displayed inline.
 *
 */
/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_badge.scss */
.lp_badge {
  background: #d1d1d1;
  border-radius: 3px;
  color: white;
  display: inline-block;
  min-width: 11px;
  padding: 1px 4px;
  text-align: center;
  text-transform: uppercase; }

/* line 3, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
.lp_debugger {
  background: #e3e3e3;
  bottom: 0;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.34);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 490px;
  line-height: 1.3;
  overflow-y: hidden;
  position: fixed;
  -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
  width: 100%;
  z-index: 1000000; }
  /* line 19, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger.lp_is-hidden {
    bottom: -455px; }
    /* line 23, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger.lp_is-hidden .lp_debugger__close-link {
      -webkit-transform: rotate(-90deg) translate(1px, -3px);
          -ms-transform: rotate(-90deg) translate(1px, -3px);
              transform: rotate(-90deg) translate(1px, -3px); }
  /* line 29, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger a {
    box-shadow: none;
    color: #0075a3;
    outline: 0 none;
    padding: 4px;
    text-decoration: none; }
    /* line 38, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger a:hover, .lp_debugger a:focus, .lp_debugger a:active {
      outline: 0 none;
      text-decoration: none; }
  /* line 46, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-header {
    background: #c2c2c2;
    cursor: pointer;
    height: 35px; }
  /* line 52, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-header__title {
    display: inline-block;
    font-size: 21px;
    font-weight: normal;
    line-height: 1;
    margin: 7px 11px;
    padding-left: 126px;
    position: relative; }
    /* line 62, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-header__title:before {
      display: block;
      font-size: 119px;
      height: 0;
      left: -126px;
      line-height: 0;
      position: relative;
      top: 10px; }
  /* line 73, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-header__text {
    line-height: 1;
    padding: 11px 7px; }
  /* line 78, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger__close-link {
    color: #0075a3;
    display: inline-block;
    height: 28px;
    line-height: 2;
    text-align: center;
    -webkit-transform: rotate(90deg) translate(2px, 3px);
        -ms-transform: rotate(90deg) translate(2px, 3px);
            transform: rotate(90deg) translate(2px, 3px);
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
    width: 28px; }
    /* line 88, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger__close-link:hover {
      color: #298cb3; }
  /* line 95, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-tabs {
    border-bottom: 1px solid #c9c9c9;
    margin: 11px 11px 0;
    position: relative;
    z-index: 0; }
  /* line 102, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-tabs__link {
    color: #0075a3;
    display: block;
    padding: 7px 14px; }
    /* line 107, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-tabs__link:hover {
      color: #298cb3; }
      /* line 110, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
      .lp_debugger .lp_debugger-tabs__link:hover .lp_badge {
        background-color: #298cb3; }
    /* line 115, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-tabs__link .lp_badge {
      background: #0075a3;
      margin-left: 7px; }
  /* line 121, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-tabs__item {
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    float: left;
    height: 35px;
    list-style: none outside none;
    margin: 0 2px -1px 0;
    padding: 0; }
    /* line 132, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-tabs__item:hover, .lp_debugger .lp_debugger-tabs__item.lp_is-selected {
      border-color: #c9c9c9 #c9c9c9 #e3e3e3;
      /* 1 */ }
    /* line 139, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-tabs__item.lp_is-selected .lp_debugger-tabs__link, .lp_debugger .lp_debugger-tabs__item.lp_is-selected:hover .lp_debugger-tabs__link {
      color: #545454;
      cursor: default; }
    /* line 146, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-tabs__item.lp_is-selected .lp_badge, .lp_debugger .lp_debugger-tabs__item.lp_is-selected:hover .lp_badge {
      background: #c2c2c2;
      /* 1 */ }
  /* line 159, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content-list {
    height: 406px;
    margin: 0 11px 14px;
    overflow-x: hidden;
    overflow-y: auto; }
  /* line 169, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content-list__item .lp_debugger-content-list__item:not(:last-child) {
    border-bottom: 1px solid #c9c9c9;
    /* 1 */ }
  /* line 173, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content-list__item.lp_is-hidden {
    display: none; }
  /* line 179, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger__log-level:before {
    font-size: 25px;
    height: 0;
    line-height: 0;
    margin-right: 4px;
    position: relative;
    top: 0.23em; }
  /* line 191, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger__log-level--100:before .lp_debugger__log-level--200:before .lp_debugger__log-level--250:before {
    color: #ababab;
    content: 'm'; }
  /* line 197, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger__log-level--300:before {
    color: #ffa600;
    content: 'n'; }
  /* line 206, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger__log-level--400:before .lp_debugger__log-level--500:before .lp_debugger__log-level--550:before .lp_debugger__log-level--600:before {
    color: #ff1a00;
    content: 'o'; }
  /* line 212, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger:hover a, .lp_debugger a:hover {
    color: #298cb3; }
  /* line 216, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger code {
    font-size: 14px;
    line-height: 1.3; }
  /* line 221, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content__table-title {
    cursor: pointer; }
    /* line 225, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-content__table-title .lp_debugger-content__table-th, .lp_debugger .lp_debugger-content__table-title .lp_debugger-content__table-td {
      -webkit-transition: background 0.25s;
              transition: background 0.25s; }
    /* line 230, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-content__table-title:hover .lp_debugger-content__table-th, .lp_debugger .lp_debugger-content__table-title:hover .lp_debugger-content__table-td {
      background: #feec86; }
    /* line 234, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-content__table-title .lp_debugger-content__table-td:last-child {
      color: #ababab;
      max-width: 140px;
      text-align: right; }
  /* line 241, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content__table {
    margin: 0;
    width: 100%; }
    /* line 248, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-content__table.lp_is-hidden .lp_debugger-content__table-body .lp_debugger-content__table-th, .lp_debugger .lp_debugger-content__table.lp_is-hidden .lp_debugger-content__table-body .lp_debugger-content__table-td {
      padding: 0 7px 4px; }
    /* line 252, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
    .lp_debugger .lp_debugger-content__table.lp_is-hidden .lp_debugger-content__table-body .lp_debugger-content__table-th {
      padding-left: 38.5px;
      width: 168px; }
  /* line 261, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content__table, .lp_debugger .lp_debugger-content__table-th, .lp_debugger .lp_debugger-content__table-td {
    border: 0 none;
    border-collapse: collapse; }
  /* line 267, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content__table-th, .lp_debugger .lp_debugger-content__table-td {
    padding: 7px;
    text-align: left;
    vertical-align: top; }
  /* line 273, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
  .lp_debugger .lp_debugger-content__table-th {
    color: #ababab;
    font-weight: normal;
    max-width: 168px;
    overflow: hidden;
    padding-left: 7px;
    text-overflow: ellipsis;
    width: 168px; }

/* line 286, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_debugger.scss */
.ab-item {
  cursor: pointer; }

