/* line 2, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border--0 {
  border: 0 none; }

/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border {
  border: 1px solid #dbdbdb; }

/* line 10, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_border-radius {
  border-radius: 3px; }

/* line 14, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_embossed {
  box-shadow: 1px 1px 0 #f7f7f7; }

/* line 20, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_block {
  display: block; }

/* line 24, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_inline {
  display: inline; }

/* line 28, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_inline-block {
  display: inline-block; }

/* line 32, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_hidden {
  display: none !important; }

/* line 38, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_fs {
  font-size: 14px; }

/* line 42, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_bold {
  font-weight: bold; }

/* line 48, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_left {
  float: left; }

/* line 52, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_right {
  float: right; }

/*
 * Clearfix for modern browsers
 * 1. The space content is one way to avoid an Opera bug when the 'contenteditable' attribute is included
 *    anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements that receive the 'clearfix' class.
 * 2. The use of 'table' rather than 'block' is only necessary if using ':before' to contain the top-margins
 *    of child elements.
 */
/* line 65, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_clearfix:before, .lp_layout:before, .lp_clearfix:after, .lp_layout:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */ }

/* line 69, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_clearfix:after, .lp_layout:after {
  clear: both; }

/* line 85, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m0 {
  margin: 0; }

/* line 89, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m {
  margin: 14px; }

/* line 95, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-0 {
  margin: 14px 0; }

/* line 99, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-0-0 {
  margin: 14px 0 0; }

/* line 103, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m--0-center {
  margin: 0 auto; }

/* line 107, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_m-center {
  margin: 14px auto; }

/* line 113, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt0 {
  margin-top: 0; }

/* line 117, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt-- {
  margin-top: 4px; }

/* line 121, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt- {
  margin-top: 7px; }

/* line 125, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt {
  margin-top: 14px; }

/* line 129, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt\+ {
  margin-top: 28px; }

/* line 133, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mt\+\+ {
  margin-top: 42px; }

/* line 139, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr-- {
  margin-right: 4px; }

/* line 143, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr- {
  margin-right: 7px; }

/* line 147, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr {
  margin-right: 14px; }

/* line 151, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mr\+ {
  margin-right: 28px; }

/* line 157, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb0 {
  margin-bottom: 0; }

/* line 161, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb-- {
  margin-bottom: 4px; }

/* line 165, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb- {
  margin-bottom: 7px; }

/* line 169, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb {
  margin-bottom: 14px; }

/* line 173, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_mb\+ {
  margin-bottom: 28px; }

/* line 179, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml- {
  margin-left: 7px; }

/* line 183, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml {
  margin-left: 14px; }

/* line 187, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_ml\+ {
  margin-left: 28px; }

/* line 193, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd- {
  padding: 7px; }

/* line 199, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pd--0-05 {
  padding: 0 7px; }

/* line 205, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdt0 {
  padding-top: 0; }

/* line 209, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdt- {
  padding-top: 7px; }

/* line 215, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdr {
  padding-right: 14px; }

/* line 221, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_pdl0 {
  padding-left: 0; }

/* line 227, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_absolute {
  position: absolute; }

/* line 231, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_relative {
  position: relative; }

/* line 235, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_top--0 {
  top: 0; }

/* line 239, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_right--0 {
  right: 0; }

/* line 243, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_bottom--0 {
  bottom: 0; }

/* line 247, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_left--0 {
  left: 0; }

/* line 253, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_text-align--center {
  text-align: center; }

/* line 259, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1 {
  width: 100%; }

/* line 263, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_4\/5 {
  width: 80%; }

/* line 267, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_3\/4 {
  width: 75%; }

/* line 271, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_2\/3 {
  width: 66.6666%; }

/* line 275, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/2 {
  width: 50%; }

/* line 279, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_2\/5 {
  width: 40%; }

/* line 283, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_3\/8 {
  width: 37.5%; }

/* line 287, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/3 {
  width: 33.3333%; }

/* line 291, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/4 {
  width: 25%; }

/* line 295, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/5 {
  width: 20%; }

/* line 299, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_utilities.scss */
.lp_1\/6 {
  width: 16.6666%; }

/* line 3, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_layout.scss */
.lp_layout {
  box-sizing: border-box; }

/* line 9, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_layout.scss */
.lp_layout__item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top; }

/* line 3, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tags.scss */
h2, h3 {
  font-weight: normal;
  margin: 14px 0 7px; }

/* line 12, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tags.scss */
h3 {
  font-size: 14px;
  margin: 0; }

/* line 18, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tags.scss */
a {
  text-decoration: none; }
  /* line 24, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tags.scss */
  a:active, a:focus, a:visited {
    box-shadow: none;
    outline: 0 none; }

/* line 31, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tags.scss */
dfn, #lp_post-teaser dfn {
  color: #ababab;
  font-style: italic; }

/**
 * Box off e.g. a label to make it stand out, but be displayed inline.
 *
 */
/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_badge.scss */
.lp_badge {
  background: #d1d1d1;
  border-radius: 3px;
  color: white;
  display: inline-block;
  min-width: 11px;
  padding: 1px 4px;
  text-align: center;
  text-transform: uppercase; }

/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=number].lp_input, input[type=text].lp_input, textarea.lp_input, select.lp_input {
  background: white;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  box-shadow: none;
  height: calc(2em + 4px);
  line-height: 1;
  margin: 0;
  padding: 0.5em; }
  /* line 16, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  input[type=number].lp_input:focus, input[type=text].lp_input:focus, textarea.lp_input:focus, select.lp_input:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-color: #298cb3;
    box-shadow: none; }
  /* line 24, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  input[type=number].lp_input:hover, input[type=number].lp_input:active, input[type=text].lp_input:hover, input[type=text].lp_input:active, textarea.lp_input:hover, textarea.lp_input:active, select.lp_input:hover, select.lp_input:active {
    border-color: #298cb3;
    box-shadow: none; }
  /* line 29, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  input[type=number].lp_input:disabled, input[type=text].lp_input:disabled, textarea.lp_input:disabled, select.lp_input:disabled {
    border-color: transparent;
    cursor: not-allowed; }

/* line 35, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
textarea.lp_input {
  height: auto;
  resize: vertical; }

/* line 40, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
select.lp_input {
  margin-left: 2px;
  padding: 0.25em;
  position: relative;
  top: -2px; }

/* line 50, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=text].lp_number-input {
  padding: 0.25em 0.35em;
  text-align: right;
  width: 4em; }

/* line 57, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_iconized-input {
  color: #dbdbdb;
  font-size: 2em;
  margin: 0.04em 0 0 0.35em;
  position: absolute; }

/* line 65, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-container {
  margin-left: 2px;
  width: 100%; }
  /* line 69, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .select2-container .select2-choice {
    border-color: #dbdbdb;
    border-radius: 4px;
    border-width: 2px; }
  /* line 75, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .select2-container.select2-container-active .select2-choice {
    border-color: #298cb3;
    box-shadow: none;
    color: #ababab; }

/* line 82, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

/* line 90, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-drop.select2-drop-active {
  border-color: #298cb3;
  border-width: 0 2px 2px; }
/* line 95, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-drop .select2-search {
  padding-left: 0;
  padding-right: 0; }
  /* line 99, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .select2-drop .select2-search input {
    background: #e3e3e3;
    border: 0 none;
    box-shadow: none; }
    /* line 104, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .select2-drop .select2-search input:focus {
      border-color: #298cb3; }
/* line 110, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-drop .select2-results {
  margin: 0;
  padding: 0; }
  /* line 114, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .select2-drop .select2-results li {
    margin-bottom: 0; }
    /* line 119, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .select2-drop .select2-results li:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
  /* line 126, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .select2-drop .select2-results li:hover, .select2-drop .select2-results .select2-highlighted {
    background: #feec86;
    color: #545454; }
/* line 132, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.select2-drop .select2-result-label {
  padding: 7px; }

/* line 141, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_input::-webkit-input-placeholder, .lp_input::-moz-placeholder, .lp_input:-ms-input-placeholder {
  color: #ababab;
  line-height: 1; }

/* line 148, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=text][required] + label[placeholder] {
  display: block;
  line-height: 1;
  margin-bottom: 1em;
  margin-top: calc(-3em - 2px);
  pointer-events: none; }
  /* line 155, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  input[type=text][required] + label[placeholder]:before {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 46%, #ffffff 47%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, rgba(255, 255, 255, 0)), color-stop(47%, #ffffff));
    background-repeat: no-repeat;
    color: #ababab;
    content: attr(placeholder);
    display: inline-block;
    margin: 1.4em 0 0 3em;
    padding: 0 3px;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
    white-space: nowrap; }

/* line 171, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=text][required]:focus + label[placeholder]:before, input[type=text][required]:valid + label[placeholder]:before {
  -webkit-transform: translate(-2px, -1.15em) scale(0.9, 0.9);
      -ms-transform: translate(-2px, -1.15em) scale(0.9, 0.9);
          transform: translate(-2px, -1.15em) scale(0.9, 0.9);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
/* line 176, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=text][required]:focus + label[placeholder]:before {
  color: #298cb3; }
/* line 180, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
input[type=text][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt); }

/* line 185, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_iconized-input + input[type=text][required] + label[placeholder]:before {
  margin: 1.4em 0 0 calc(3em - 1px); }

/* line 191, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.ez-mark {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.1em;
  position: relative;
  width: 1.5em;
  z-index: 10;
  zoom: 1; }
  /* line 201, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .ez-mark input[type=radio], .ez-mark input[type=checkbox] {
    cursor: pointer;
    left: -0.3rem;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    position: relative;
    top: -0.75rem; }
  /* line 209, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .ez-mark svg {
    height: 1.5em;
    position: absolute; }
    /* line 213, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .ez-mark svg .frame {
      fill: #c9c9c9; }
    /* line 217, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .ez-mark svg .frameBack {
      fill: white; }
    /* line 221, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .ez-mark svg .check {
      display: none; }
    /* line 225, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .ez-mark svg .dot {
      display: none; }

/* line 234, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.ez-mark :hover svg .frame, label:hover .ez-mark svg .frame {
  fill: #298cb3; }

/* line 240, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.ez-checked.ez-checkbox svg .check, .ez-checked.ez-radio svg .dot {
  display: block;
  fill: #636363; }

/* line 245, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.ez-hide {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }

/* line 251, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_edit-link {
  margin-left: 14px;
  padding: 7px 0; }

/* line 258, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_badge--revenue-model {
  color: #0075a3;
  width: 28px; }
  /* line 262, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .lp_badge--revenue-model input[type=radio] {
    display: none; }
  /* line 266, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .lp_badge--revenue-model:hover {
    background: #298cb3;
    color: white; }
  /* line 271, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .lp_badge--revenue-model.lp_is-disabled {
    visibility: hidden; }
  /* line 275, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
  .lp_badge--revenue-model.lp_is-selected {
    background: #52cb75;
    color: white; }
    /* line 279, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
    .lp_badge--revenue-model.lp_is-selected:hover {
      background: #52cb75;
      cursor: default; }

/* line 289, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_fieldset {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #f7f7f7;
  margin: 14px 14px 14px 0;
  padding: 7px 14px 14px; }

/* line 298, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_legend {
  font-size: 14px;
  font-weight: bold;
  margin-left: -7px;
  padding: 0 7px; }

/* line 305, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_forms.scss */
.lp_form-group-separator {
  border-top: 1px solid #dbdbdb;
  border-right: 0 none;
  border-bottom: 1px solid #f7f7f7;
  border-left: 0 none;
  margin: 14px 0 42px; }

@font-face {
  font-family: laterpay-wordpress-icons;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/laterpay-wordpress-icons_v099.eot');
  src: url('../fonts/laterpay-wordpress-icons_v099.eot?#iefix') format('embedded-opentype'), url('../fonts/laterpay-wordpress-icons_v099.woff') format('woff'), url('../fonts/laterpay-wordpress-icons_v099.ttf') format('truetype'), url('../fonts/laterpay-wordpress-icons_v099.svg#laterpay-wordpress-icons') format('svg'); }

/* line 17, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_vector_icons.scss */
[data-icon]:before, .lp_vectorIcon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: laterpay-wordpress-icons !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  padding-right: 0.25em;
  position: relative;
  speak: none;
  text-transform: none !important;
  top: 0.1em; }

/* line 33, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_vector_icons.scss */
.icon {
  height: 42px;
  width: 42px;
  display: inline-block;
  fill: currentColor; }

/* line 3, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
.lp_tooltip {
  display: inline-block;
  position: relative; }
  /* line 8, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
  .lp_tooltip:before, .lp_tooltip:after {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition: 0.25s ease;
            transition: 0.25s ease;
    visibility: hidden;
    z-index: 100; }
  /* line 20, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
  .lp_tooltip:before {
    background: transparent;
    border: 6px solid transparent;
    border-top-color: #545454;
    content: '';
    margin-bottom: -12px;
    position: absolute;
    z-index: 110; }
  /* line 31, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
  .lp_tooltip:after {
    background: #545454;
    border-radius: 3px;
    color: white;
    content: attr(data-tooltip);
    font-size: 11px;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: -18px;
    padding: 7px;
    text-align: left;
    text-transform: none;
    width: 10em; }
  /* line 49, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
  .lp_tooltip:hover:before, .lp_tooltip:hover:after, .lp_tooltip:focus:before, .lp_tooltip:focus:after {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    visibility: visible;
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px); }
  /* line 56, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/objects/_tooltips.scss */
  .lp_tooltip:hover:before, .lp_tooltip:hover:after {
    bottom: 100%;
    left: 50%;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; }

/* line 5, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 11, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing {
  height: 225px;
  width: 254px; }

/* line 18, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__graph-background {
  fill: #f2f2f2; }

/* line 26, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__axis .domain {
  stroke: #ababab;
  stroke-dasharray: none;
  stroke-width: 1.5px; }

/* line 32, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__axis-arrowhead {
  fill: #ababab; }

/* line 36, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__grid-line {
  stroke: #ababab;
  stroke-width: 0.1px; }

/* line 41, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__grid-line-label {
  display: none; }

/* line 46, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__price-curve {
  fill: none;
  stroke: #212121;
  stroke-linecap: round;
  stroke-width: 2.5px; }

/* line 53, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__price-curve-point {
  fill: #212121;
  stroke: #f2f2f2;
  stroke-width: 2px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }
  /* line 59, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
  .lp_dynamic-pricing__price-curve-point.lp_is-hidden {
    display: none; }

/*
 * 1. hide vertical lines for maximum x-axis value, because it just has to be inserted as a technical workaround
 */
/* line 69, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__x-axis-marker {
  stroke: #545454;
  stroke-dasharray: 5;
  stroke-width: 1px; }
  /* line 74, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
  .lp_dynamic-pricing__x-axis-marker.lp_is-hidden {
    display: none;
    /* 1 */ }

/* line 79, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__current-price-marker {
  stroke: #52cb75;
  stroke-width: 0.5px; }

/* line 84, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__current-price-label {
  fill: #52cb75;
  font-size: 9px; }

/* line 89, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__default-price-marker {
  stroke: #ababab;
  stroke-width: 1px; }

/* line 94, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__default-price-label-background {
  fill: #f2f2f2; }

/* line 98, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__default-price-label {
  fill: #ababab;
  font-size: 9px; }

/* line 110, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__start-price-handle, .lp_dynamic-pricing__start-price-handle-triangle, .lp_dynamic-pricing__end-price-handle, .lp_dynamic-pricing__end-price-handle-triangle, .lp_dynamic-pricing__price-change-days-handle, .lp_dynamic-pricing__price-change-days-handle-triangle {
  fill: #0075a3; }

/*
 * 1. show vertical resize cursor over price handles
 */
/* line 123, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__start-price-handle, .lp_dynamic-pricing__start-price-value, .lp_dynamic-pricing__start-price-currency, .lp_dynamic-pricing__end-price-handle, .lp_dynamic-pricing__end-price-value, .lp_dynamic-pricing__end-price-currency {
  cursor: row-resize;
  /* 1 */ }

/* line 127, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__handle-text {
  fill: #fff; }

/* line 133, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__start-price-value, .lp_dynamic-pricing__end-price-value, .lp_dynamic-pricing__price-change-days-value {
  font-size: 12px;
  font-weight: bold; }

/* line 138, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__handle-unit {
  font-size: 9px;
  font-weight: normal; }

/*
 * !important is used to make sure our input renders as intended, regardless of crappy theme or browser styles
 */
/* line 148, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__start-price-input, .lp_dynamic-pricing__end-price-input {
  background: #fff !important;
  border: 2px solid #0075a3 !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: none;
  font-size: 12px !important;
  height: 29px !important;
  margin: 0 !important;
  padding: 4px !important;
  width: 100% !important; }
  /* line 160, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
  .lp_dynamic-pricing__start-price-input:focus, .lp_dynamic-pricing__end-price-input:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-color: #0075a3 !important; }

/*
 * 1. show horizontal resize cursor over price change days handles
 */
/* line 174, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__price-change-days-handle, .lp_dynamic-pricing__price-change-days-handle-triangle, .lp_dynamic-pricing__price-change-days-value, .lp_dynamic-pricing__price-change-days-unit {
  cursor: col-resize;
  /* 1 */ }

/*
 * 1. hide handle for maximum x-axis value, because it just has to be inserted as a technical workaround
 */
/* line 186, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/components/_dynamic_pricing.scss */
.lp_dynamic-pricing__price-change-days-handle.lp_is-hidden, .lp_dynamic-pricing__price-change-days-handle-triangle.lp_is-hidden, .lp_dynamic-pricing__price-change-days-value.lp_is-hidden, .lp_dynamic-pricing__handle-unit.lp_is-hidden {
  display: none;
  /* 1 */ }

/* line 6, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
#lp_post-pricing h3 span, #lp_post-teaser h3 span {
  left: 6.25em;
  position: relative; }

/* line 13, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
#lp_post-pricing h3 span:before, #lp_post-teaser h3 span:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: 'a';
  font-family: laterpay-wordpress-icons !important;
  font-size: 6em;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  left: -1.05em;
  line-height: 0;
  position: absolute;
  speak: none;
  text-transform: none !important;
  top: 0.106em; }

/* line 30, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
#lp_post-teaser h3 span:before {
  top: 0.11em; }

/* line 36, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
#lp_post-pricing a {
  text-decoration: none !important; }
  /* line 42, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  #lp_post-pricing a:focus, #lp_post-pricing a:active, #lp_post-pricing a:visited {
    box-shadow: none !important;
    outline: 0 none !important; }

/* line 50, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
.lp_post-price-input {
  font-size: 42px !important;
  height: calc(1.5em + 4px) !important;
  padding: 7px 11px !important;
  text-align: right !important;
  -webkit-transition-duration: 0.4s !important;
          transition-duration: 0.4s !important;
  width: 3.9em !important; }
  /* line 58, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  .lp_post-price-input:disabled {
    border-color: transparent !important;
    color: #333333 !important;
    -webkit-transition-duration: 0.4s !important;
            transition-duration: 0.4s !important; }

/* line 65, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
.lp_currency {
  color: #cccccc;
  font-size: 1.5em;
  margin-top: 14px; }

/* line 73, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
.lp_price-type {
  border: 1px solid #dbdbdb;
  border-radius: 3px; }
  /* line 78, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  .lp_price-type .lp_price-type__list {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0; }
    /* line 83, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__list .lp_price-type__item {
      box-shadow: inset 1px 0 0 #dbdbdb, inset 0 1px 0 rgba(255, 255, 255, 0.55);
      float: left;
      line-height: 1.25;
      margin: 0;
      padding: 0.5em 0;
      text-align: center;
      width: 33.333%; }
      /* line 92, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list .lp_price-type__item:first-child {
        border-radius: 2px 0 0 2px;
        box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.55); }
      /* line 97, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list .lp_price-type__item:last-child {
        border-radius: 0 2px 2px 0;
        box-shadow: inset 1px 0 0 #dbdbdb, inset -1px 1px 0 rgba(255, 255, 255, 0.55); }
      /* line 102, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list .lp_price-type__item:hover {
        background-color: #298cb3; }
        /* line 105, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
        .lp_price-type .lp_price-type__list .lp_price-type__item:hover .lp_price-type__link {
          color: white; }
      /* line 110, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list .lp_price-type__item .lp_price-type__link {
        display: block;
        height: 2.5em; }
    /* line 117, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__list .lp_is-selected, .lp_price-type .lp_price-type__list .lp_is-selected:hover {
      background-color: #52cb75; }
    /* line 121, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__list li.lp_is-selected {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.34); }
      /* line 125, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list li.lp_is-selected .lp_price-type__link, .lp_price-type .lp_price-type__list li.lp_is-selected:hover .lp_price-type__link {
        color: white;
        cursor: default;
        text-shadow: none; }
    /* line 134, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__list .lp_is-disabled .lp_price-type__link {
      color: #d6d6d6;
      cursor: not-allowed;
      visibility: visible; }
    /* line 140, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__list .lp_is-disabled:hover {
      background-color: #e8e8e8; }
      /* line 143, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__list .lp_is-disabled:hover .lp_price-type__link {
        color: #d6d6d6;
        cursor: not-allowed; }
  /* line 156, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  .lp_price-type .lp_price-type__details .lp_price-type__details-item ul, .lp_price-type .lp_price-type__details .lp_price-type__details-item li {
    margin: 0;
    padding: 0; }
  /* line 161, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  .lp_price-type .lp_price-type__details .lp_price-type__details-item li {
    border-top: 1px solid #f7f7f7; }
    /* line 164, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__details .lp_price-type__details-item li:nth-child(even) {
      background-color: #f7f7f7; }
    /* line 168, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__details .lp_price-type__details-item li:last-child {
      border-radius: 0 0 1px 1px; }
    /* line 172, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__details .lp_price-type__details-item li:hover {
      background-color: #feec86; }
    /* line 176, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__details .lp_price-type__details-item li a {
      display: block;
      padding: 7px 11px; }
      /* line 180, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
      .lp_price-type .lp_price-type__details .lp_price-type__details-item li a span {
        color: #878787;
        float: right; }
  /* line 188, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
  .lp_price-type .lp_price-type__details .lp_price-type__details-item .lp_is-selectedCategory, .lp_price-type .lp_price-type__details .lp_price-type__details-item .lp_is-selectedCategory:nth-child(even) {
    background-color: #feec86; }
    /* line 191, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
    .lp_price-type .lp_price-type__details .lp_price-type__details-item .lp_is-selectedCategory a, .lp_price-type .lp_price-type__details .lp_price-type__details-item .lp_is-selectedCategory:nth-child(even) a {
      color: #454545;
      cursor: default; }

/* line 200, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
.lp_dynamic-pricing-toggle, .lp_dynamic-pricing-reset {
  display: block;
  padding: 11px 4px 0; }

/* line 207, /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/asset_sources/scss/pages/_post_edit.scss */
#lp_post-teaser dfn {
  display: block;
  margin: 14px 0; }

